[Unit]
Description=Iquidus Explorer Service
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/node --stack-size=10000 ./bin/cluster
# Required on some systems
WorkingDirectory=WORKINGDIRECTORYVAR
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=abcexplorer
User=USERVAR

[Install]
WantedBy=multi-user.target
